a {
	text-decoration: none;
}

h1, h2, h3, h4 {
	font-weight: bold;
	text-decoration: none;
}

h1 {
	font-size: 1.4em;
}

h2 {
	font-size: 1.2em;
	margin: 0.3em 0 0.3em 0;
}

h3 {
	font-size: 1em;
	margin: 0.3em 0 0 0;
}

h4 {
	font-size: 1em;
	margin: 0.4em 0 0 0;
}

h5 {
	font-size: 0.8em;
	margin: 0.4em 0 0 0;
}

.Item {
	margin-bottom: 0.5em;
}

.Info {
	font-size: 0.6em;
}

th {
	text-align: left;
}

/* Command list */
ul.Actions {
	margin: 3px 3px 0.5em 2em;
}
